<%- include('templates/navbar') %>
<%- include('templates/head') %>
<div class="container">
  <h1 class="text-center">Postingan</h1>
  <%- user.id %>
  <%- user.displayName %>
  <%- user.email %>
  <img src="<%- user.picture %>" alt="">
</div>
<%- include('templates/foot') %>