<%- include('templates/navbar') %>
<%- include('templates/head') %>
<div class="container-fluid">
  <h1 class="text-center"><%= title %></h1>

  <div class="row">
    <% if (posts.length > 0) {
      posts.forEach((post) => {
    %>
    <h1><%= post.title %> </h1>
    <img class="lazyload" data-sizes="auto" data-src="<%= post.image %>" />
    <p><%= post.description %> </p>
    <% 
    });
    } else { %>
    <h1>Gaada</h1>
    <% } %>
  </div>
</div>

<script src="lazysizes/lazysizes.min.js"></script>
<%- include('templates/foot') %>